--extra-index-url https://download.pytorch.org/whl/cu124

faiss-cpu==1.13.2
numpy
pandas==2.2.2
soundfile==0.12.1
tqdm==4.66.6
transformers==4.40.2
modelscope
addict
datasets
pillow
simplejson
sortedcontainers
speechbrain