.idea
*.DS_Store
__pycache__
checkpoints/

data_f
data/train
mistakes
model_3
model_4
model_3_1
*.ipynb

data/submission.csv
train.py
train3.py
notebook.ipynb
model_5
model_5_pruned
model5ft
model6
model6ft
max_f1_adj
model4.py


train
